<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Instagram</title>
</head>
<body>
    <main>
        <div class="instagram-wrapper">
            <div class="instagram-phone">

            </div>
            <div class="instagram-continue">
                <div class="group">
                    <img src="../public/img/instagram-logo.png" alt="instagram logo">
                    <div class="profile-photo">
                        <img src="../public/img/perfil.png" alt="foto de perfil">
                    </div>
                    <a href="#" class="instagram-login">Continue como miranha</a>
                    <a href="#" class="instagram-logout">Remover conta</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>